<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival Closet</title>
<link rel="shortcut icon" href="../public/Media/52ceb-wlt-logo.jpg" type="image/x-icon">    
<script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/css/Index_Style.css">
    
</head>
<body>
    <header>
        <h1>Keiji's Closet </h1>
    </header>

    <main>
        <section>
        <h2>This Closet Consists of Scans of Magazines and Articles from world-renowned brands throughout the fashion industry</h2>
        <p>From Well known names like Bathing ape and Supreme - to obscure and Avante Garde brands
             such as Walter Van Beirendonck and Rick Owens.
        Find your niche here</p>
        <article>
            <figure>
            
            <img src="../public/Media/CH_Multilayer_Necklace.PNG" width="30%" alt="CH multilayer necklace">
        </figure>
            <h2>Above is a scan from the Vol. 1 of The "Chrome Hearts Magazine", Picture taken by Doug Bizarro </h2>
                <p> Chrome hearts is a jewelry brand Founded By Richard Stark in 1988, Beginning as a Motorcycle Riding-Gear Company now is <br>
                  known for its complex hand-made designs out of Sterling Silver, and for its unimaginable Pricetag. </p>
                  <p>To Learn More about Chrome Hearts, click <a href="./html/Chrome_Hearts.html">Here!</a></p>
                
                  
        </article>
        <section>
        <nav>
            <ul>
            <li><a href="./html/Chrome_Hearts.html">Chrome Hearts Collection</a></li>
            <li><a href="./html/Comme_Des_Garcons.html">Comme Des Garcons Collection</a></li>
            <li><a href="./html/Maison_Margiela.html">Maison Margiela Collection</a></li>
            <li><a href="./html/Undercover.html">Undercover Collection</a></li>
            <li><a href="./html/Issey_Miyake.html">Issey Miyake Collection</a></li>
            <li><a href="./html/Kapital.html">Kapital Collection</a></li>
            <li><a href="./html/Number_Nine.html">Number Nine Collection</a></li>
        </ul>
        </nav>
    </section>

    
    </main>
    <footer>
        &copy; Keiji's Closet <br>
        <a href="./html/More_About_Me.html">Click here for a More About Me Page!</a> <br>
        
        <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
        <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
    </footer>
    
</body>
</html>

