<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
    
</head>
<body>
    

    <header>
        <h1>Chrome Hearts</h1>
        
    </header>
    <main>

        <h2>From its inception as a leather motorcycle riding-gear company in 1988, Richard Stark has transformed Chrome Hearts into a cult-classic brand that churns out handmade jewelry, 
            most notably in sterling silver; apparel, eyewear, 
            luggage and leather goods; and handcrafted furnishings and home items. And let’s not forget all the oddities that exist within the Chrome Hearts world, such as toilet plungers, 
            baseball bats, nail polish, tools, bicycles, and much much more.</h2>
        <div>
        <figure>
        <img src="../../public/Media/CH_Multilayer_Necklace.PNG" width="30%" alt="CH multilayer necklace">
        <h2>The Above Picture is a Chrome Hearts Multi-Layer Necklace</h2>
        <p>Three decades later, Chrome Hearts still produce their products in California, 
            and the brand ethos has not significantly shifted.</p>
    </figure>
</div>
    <div>
        <figure>
            <img src="../../public/Media/CH_Brown_Handbag.PNG" width="30%" alt="CH Bown Handbag">
            <h2>Above is a portion of the Chrome Hearts Magazine Set</h2>
            <p>The Chrome Hearts Handbag Showcases A Sterling Silver Trademark cross of Chrome Hearts</p>
        </figure>
    </div>

    <div>
        <figure>
            <img src="../../public/Media/CH_Closet.PNG" width="30%" alt="CH closet">
            <h2>This Image of a Closet, Filled with leather Vests, Bags, and Pants</h2>
            <p>The history of Chrome Hearts is rich and filled with impactful creations and collaborations.
                 It’s motorcycle and punk-rock influences are still evident in every aspect of the brand</p>
        </figure>
    </div>
    <div>
        <figure>
            <img src="../../public/Media/CH_Detail_Bracelets.PNG"width ="30%" alt="CH bracelet detail">
            <h2>Above is a section showcasing a multitude of CH bracelets</h2>
            <p>As the mainstream internet consumer begins to get exposed to Chrome Hearts via celebrities such as Bella Hadid, Drake or the Migos, the brand itself still remains true to its heritage and ethos.
                 At Chrome Hearts, there is something for everyone.</p>
        </figure>
    </div>
    <div>
        <figure>
            <img src="../../public/Media/CH_Karl_Lagerfeld.PNG" width= "30%" alt="CH Karl Lagerfeld">
            <h2>Karl LagerFeld in CH</h2>
        </figure>
    </div>
    <div>
        <figure>
            <img src="../../public/Media/CH_Momoi_Kaori.PNG" width="30%" alt="CH Momoi Kaori">
            <h2>Momoi Kaori in CH</h2>
        </figure>
    </div>
    <div>
        <figure>
            <img src="../../public/Media/CH_Richard_X_Cadanori.PNG"width="30%" alt="CH Richard x Cadanari">
            <h2>Richard x Cadanari Interview</h2>
        </figure>
    </div>
    </main>

    </body>
    

    
    <footer>
        &copy; Keiji's Closet <br>
        <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
        <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
        
        <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
        <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
    </footer>
    </html>
    
    


    