<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Comme Des Garcons</h1>
    </header>
    <main>
        <body>
            <h2>
                Comme des Garçons is a Japanese fashion label founded and headed by Rei Kawakubo in Paris. 
                The label began in 1969 and the company was founded in 1973.
            </h2>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_ear_de_Parfum.PNG" width="50%" alt="CDG ear de parfum">
                    <h2>CDG ear de parfum </h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_Rei_Kawabuko.PNG"width="50%" alt="CDG Rei Kawakubo">
                    <h2>Rei Kawakubo, lead designer of Comme Des Garcons</h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_2_models_hug.PNG"width="50%" alt="CDG B W ">
                    <h2>**</h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_detailed_blazer.PNG" width="30%" alt="CDG detailed Blazer">
                    <h2>
                        Detailed Suit Blazer by CDG
                    </h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_katsuhiro_otomo_akira.PNG"width="30%" alt="CDG collaboration with Akira">
                    <h2>Collaboration of CDG and Katsuhiro Otomo, the art director of AKIRA</h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_SIX_number_3.PNG"width="30%" alt="CDG six Number 3">
                    <h2>CDG collection Six, Part 3</h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_SIX_number_5.PNG"width="30%" alt="CDG six Number 5">
                    <h2>CDG collection Six, Part 5</h2>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_SOTO.PNG"width="30%" alt="CDG Soho">
                    <h2>CDG Soto</h2>
                </figure>
            </div>
        </body>
    </main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
    <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>