<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Comme Des Garcons</h1>
    </header>
    <main>
        <body>
            <h2>
                Comme des Garçons is a Japanese fashion label founded and headed by Rei Kawakubo in Paris. 
                The label began in 1969 and the company was founded in 1973.
            </h2>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_ear_de_Parfum.PNG" width="50%" alt="CDG ear de parfum">
                    <h2>CDG ear de parfum </h2>
                    <p>
                        This Universe of Fashion book was released in 1998 under Rei Kawakubo’s 
                        Comme Des Garçons label and features iconic advertisements and photographs used in CDG's Direct Mail ads. </p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_Rei_Kawabuko.PNG"width="50%" alt="CDG Rei Kawakubo">
                    <h2>Rei Kawakubo, lead designer of Comme Des Garcons</h2>
                    <p>Rei Kawakubo and Comme Des Garçons' not only shares with us an inside look at some of the most well-known CDG collections from 
                        the 1980’s, but also gives us insight into the depth and universality of her talent. We are able to see the behind the scenes of Kawakubo’s design studio, 
                        furniture designs, and CDG store interior design from all over the world.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_2_models_hug.PNG"width="50%" alt="CDG B W ">
                    <h2>Above is a Capture of 2 Models in Commes Des Garcons Holding each other</h2>
                    <p>Universe of Fashion also explains her interest in photography and color, both of which have directly 
                        impacted the clothing she makes and the imagery she puts out to represent her brand Comme Des Garçcons.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_detailed_blazer.PNG" width="30%" alt="CDG detailed Blazer">
                    <h2>
                        Detailed Suit Blazer by CDG
                    </h2>
                    <p>Founded by designer and artist Theseus Chan, Werk Magazine aims to distort our collective understanding of 
                        magazines by fusing visual and physical experimentation: some of their magazine covers seem like they could fall apart at any minute, 
                        while others involve conflicting typography that can be difficult to decipher.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_katsuhiro_otomo_akira.PNG"width="30%" alt="CDG collaboration with Akira">
                    <h2>Collaboration of CDG and Katsuhiro Otomo, the art director of AKIRA</h2>
                    <p>Akira by Katsuhiro Otomo. From the movie’s explosion in popularity to its dedicated cult following, 
                        Otomo became increasingly known for his range of enigmatic creations. As such, it came as no surprise 
                        that Rei Kawakubo would collaborate with him for Comme des Garcons’ Spring/Summer 2013 Campaign.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_SIX_number_3.PNG"width="30%" alt="CDG six Number 3">
                    <h2>CDG collection Six, Part 3</h2>
                    <p>The book features a series of images showing a collection of black and white tile patterns similar to the ones on the front and back cover. 
                        From a tile floor mosaic to tiles on dresses and clothing, 
                        you really get to feel the grain of the print in these images.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_SIX_number_5.PNG"width="30%" alt="CDG six Number 5">
                    <h2>CDG collection Six, Part 5</h2>
                    <p>The issue involves the works of a surprisingly mix of individuals, from filmmaker Timothy Greenfield Sanders to 
                        Italian painter Enzo Cucchi, 
                        fashion photographer Peter Lindbergh, and even cultural icon John Malkovich.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/CDG_SOTO.PNG"width="30%" alt="CDG Soho">
                    <h2>CDG Soto</h2>
                </figure>
            </div>
        </body>
    </main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
    <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>