<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Issey Miyake</h1>
    </header>
    <main>
        <h2>
        
For almost 5 decades, Issey Miyake has been pioneering the concept of modern Japanese heritage in fashion.
 As a survivor of post World War II trauma, Issey Miyake was born into the destruction of his country and participated in its rise and redemption.]
 After his studies, Miyake would travel to Paris then New York to accumulate experiences and ideas to build his fashion empire.
        </h2>
        <div>
            <figure>
                <img src="../../public/Media/IM_Issey_Miyake_making_stuff.PNG"width="30%" alt="Issey Miyake Making Stuff">
                <h2>Above is a scan of "Issey Miyake Making Things",
                     where Issey Miyake can be seen directing and preparing an exhibition</h2>
                     <p>Miyake has spent the past 5 decades reinforcing his design motifs: texture, shape, fabric, proportions, and technology. 
                         He blends these motifs with his equilibrium balance of Eastern and Western heritage.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_exhibition_details.PNG"width="30%" alt="Issey Miyake's exhibition">
                <h2>Additional Details on The Issey Miyake Exhibition of 1999</h2>
                <p>His groundbreaking Pleats collection, first introduced in 1989, are still fashion essentials for every woman's and men’s wardrobe every season in the 21st century.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_AW_1971_2_Models.PNG"width="30%" alt="Issey Miyake Autumn Winter collection 1971">
                <h2>Above is a showcase of 2 Models wearing the Autumn Winter collection for Issey Miyake</h2>
                <p>His collections not only look phenomenal, they also serve technical purposes for the individual and their style. The way each fabric and material 
                    lays on the body and stack on each other is intentional and purposeful, as if Miyake is designing for the future.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_Posters_1987-1998.PNG"width="30%" alt="Issey Miyake Posters 1987-1998">
                <h2>Above are various posters designed by Issey Miyake in Japanese Magazines</h2>
                <p>

                    Here are some of my favourite posters published between 1987 and 1998 
                    from the long-standing collaboration between Issey Miyake, Irving Penn, and Ikko Tanaka.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_Photographs_by_irving_penn.PNG"width="30%" alt="Issey Miyake Photographs by Irving Penn">
                <h2>
                    Designer Issey Miyake and photographer Irving Penn</h2>
                    <p>Penn and Miyake kicked it off and eventually Irving Penn flew to Japan to photograph the early days of Miyake’s Design Studio. Penn was able to view the behind the scenes 
                        of Miyake’s experimenting with his process of creating the pleats for “Pleats Please!”.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_Photographs_by_irving_penn_2.PNG"width="30%" alt="Issey Miyake Photographs by Irving Penn">
                <h2>
                    Above are the ShowNotes for the Issey Miyake Photographs by Irving Penn
                </h2>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_east_meets_west.PNG"width="30%" alt="Issey Miyake East Meets West">
                <h2>The book, Issey Miyake: East Meets West, 
                    came out in 1978 and features an impressive contrast of designs influenced by both Eastern and Western cultures.</h2>
                    <p>Issey Miyake is one of the most well known Japanese designer names in history, his designs taking the world by storm from as early as the 1970s. Miyake made many outfits for 
                        ballets and dance performances and then began to use many dancers to model the clothing.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/IM_east_meets_west_walk.PNG" width="30%" alt="Issey Miyake East Meets West Runway">
                <h2>An Image of multiple models walking the "east Meets West" Exhibition</h2>
                <p>The designer often studied the movements of the dancers as
                    they were wearing his clothing as he was fascinated by the way the fabrics would swing around or hang down.</p>
            </figure>
        </div>
    </main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
    <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>