<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/Kapital_styling.css">
</head>
<body>
    <header>
        <h1>Kapital</h1>
    </header>
    <main>
        <h2 id="intro">Kapital as a company began in the 1980s.
             Brand founder, Toshikiyo Hirata, discovered his love for American denim while teaching Karate in the United States.
              Upon returning to his homeland of Japan, Toshikiyo had his heart set on producing his own denim.
             Toshikiyo opened his first factory in 1984, with his own denim and vintage store in Kojima following shortly after.</h2>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Denim_monster_full_page.PNG"width="50%" alt="Kapital Denim Monster">
                     <h2>This is an Excerpt from from The 2005 Kapital collection titled "Denim Monster" </h2>
                     <p>Photographed by Eric Kvatek and directed together with Kapital’s Kiro Hirata, the Kapital lookbooks serve to bring
                          its readers into worlds unbeknownst to the everyman, its content
                          ranging from the spiritual beings of faraway islands to the desolate lifestyles of the countryside and misfits of city alleyways</p>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_I_Love_NY.PNG"width="50%" alt="Kapital I LV NY">
                     <h2>A continuation of The Denim Monster Collection</h2>
                     <p></p>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Chibira_Lookbook.PNG" width="50%" alt="Kapital Chibara Lookbook 1">
                     <h2>Above is an except from The Kapital Chubira Lookbook</h2>
                     <p>Kapital has carved a niche in the Japanese denim industry since their founding in 1985.
                          Rather than following the path of many Japanese denim brands and producing exact replicas of vintage Levi’s,
                          Kapital produced items that fit a certain theme, time period, or cultural idea.</p>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Chibira_Lookbook2.PNG"width="50%" alt="Kapital Chibira Lookbook 2">
                     
                     <h2>A continuation on the Chubira Lookbook</h2>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Chibira_Lookbook3.PNG"width="50%" alt="Kapital Chibura Lookbook 3">
                     <p>Like most Kapital collections, Chubira-san is not a mono culturally inspired collection, with many designs drawing on two or three different cultures, 
                         time periods, or thematic elements.</p>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Gypsies_lookbook.PNG"width="30%" alt="Kapital Gypsies Lookbook">
                     <h2>Above is a capture from Kapital "Sea Gypsies Lookbook"</h2>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Fukkin_country_lookbook.PNG"width ="50%" alt="Kapital Fukkin Country">
                     <h2>Above is An excerpt from the Lookbook "Kapital:Fukkin Country"</h2>
                     <p>The lookbook's black and white photography are also contrasted by the vibrant visuals that feature Kapital's popular items: Boro Denim clothing.</p>
                 </figure>
             </div>
             <div>
                 <figure>
                     <img src="../../public/Media/Kapital_Aloha Brigade Lookbook.PNG" width="30%" alt="Kapital Aloha Brigade Lookbook">
                     <h2>The Image is a from a Lookbook Titled, "Kapital Aloha Brigade"</h2>
                 </figure>
             </div>
    </main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="/">Click Here to Return to The Home Page</a><br>
    <a href="/More_About_Me">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>