<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/Maison_Margiela_styling.css">
</head>
<body>
    <header>
    <h1>Maison Margiela</h1>
</header>
<main>
    <h2 id="intro">Maison Margiela, formerly Maison Martin Margiela, 
        is a French luxury fashion house headquartered in Paris and founded in 1988 by Belgian designer Martin Margiela.</h2>
        <div>
            <figure>
                <img src="../../public/Media/MM_20_the_exhibition.PNG"width="30%" alt="Maison Margiela '20 the exhibition'">
                <h2>Above are the Show-Notes for the Maison Margiela "20 The Exhibition" A/W walk</h2>
                <p>Maison Martin Margiela 20 The Exhibition was a celebration of 20 years of Maison Martin Margiela, curated by the Antwerp Fashion Museum, MoMu. 
                    The exhibition itself was first open from December 2008 to August 2009 in Antwerp, 
                    where Martin Margiela studied fashion. It would travel to nearby regions like Munich and London afterwards. </p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_20_the_exhibition2.PNG"width="30%" alt="Maison Margiela '20 the exhibition '2">
                <h2>Above showcases the Female Models, in Facepain, prepared to Walk on the Exhibition</h2>
                <p>the exhibition is a prime example of the coming together of fashion and art and Martin’s role in it.
                     Garments from the Artisanal collection are displayed one-by-one, as viewers stack on top of each other trying to take a long gaze at the pieces</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_20_the_exhibition_walk.PNG"width="30%" alt="Maison Margiela '20 the exhibition 'Walk">
                <h2>Above is a Photo Taken at the 20 Exhibition, where a female model is seen walking in the Trademark "Maison Margiela Tabi shoes"</h2>
                <p>Images of Tabi shoe molds and white-painted Artisanal garments flood the book, as the audience gets an intimate behind-the-scenes look behind the atelier 
                    process of Martin and his fashion team. 
                    Once again, the fine line between fashion and art is danced on by Martin Margiela and his work.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_cream_issue_09.PNG"width="30%" alt="Maison Margiela cream issue 2009">
                <h2>Above is a collection of multiple Models, all styled by Martin Margiela, being showcased in the "MM Cream Issue"</h2>
                <p>As seen in the over 600 pages of pictures and interviews with the designer himself, Margiela’s creativity was an unmatched force in developing the brand identity.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_Street_special_ed.PNG"width="30%" alt="Maison Margiela Street Special Edition">
                <h2>Above is A showcase of a model measuring the back of her foot, as to fit the sculpted model of the Tabi shoe</h2>
                <p>Produced by Shoichi Aoki & Noriko Kojima in 1999, Maison Martin Margiela Street Special Edition was their master plan of introducing Martin Margiela’s & Jenny Meirens’
                     creative endeavors to the fashion community in Japan through their 14 year old magazine dedicated to Japanese street fashion.</p>

            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_Street_special_ed2.PNG"width="30%" alt="Maison Margiela Street Special Edition 2">
                <h2>Shown is A Model in A long Fur Jacket</h2>
                <p>Maison Martin Margiela had full creative control of the images used and the layout of the two volumes. It offered an in-depth behind-the-scenes 
                    perspective for one of the most cryptic fashion brands with arguably the most mysterious fashion designers of our time.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_Street_special_ed3.PNG"width="30%" alt="Maison Margiela Street Special Edition 3">
                <h2>Shown is A Model being sized for a circular Vest</h2>
                <p>The two volumes covered all of Maison Martin Margiela’s collections up to Spring/Summer 1999, as well as the first presentation of 10, a men's wardrobe, 
                    and Maison Martin Margiela's participation in three exhibitions held in Brussels, Florence and Rotterdam.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Mm_Street_special_ed4.PNG"width="30%" alt="Maison Margiela Street Special Edition 4">
                <h2>Finally, A model is shown walking down the stairs in a flowey, barely constructed Garment</h2>
            </figure>
        </div>
        
</main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="/">Click Here to Return to The Home Page</a><br>
    <a href="/More_About_Me">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
