<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
    <h1>Maison Margiela</h1>
</header>
<main>
    <h2>Maison Margiela, formerly Maison Martin Margiela, 
        is a French luxury fashion house headquartered in Paris and founded in 1988 by Belgian designer Martin Margiela.</h2>
        <div>
            <figure>
                <img src="../../public/Media/MM_20_the_exhibition.PNG"width="30%" alt="Maison Margiela '20 the exhibition'">
                <h2>**</h2>
                <p></p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_20_the_exhibition2.PNG"width="30%" alt="Maison Margiela '20 the exhibition '2">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_20_the_exhibition_walk.PNG"width="30%" alt="Maison Margiela '20 the exhibition 'Walk">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_cream_issue_09.PNG"width="30%" alt="Maison Margiela cream issue 2009">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_Street_special_ed.PNG"width="30%" alt="Maison Margiela Street Special Edition">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_Street_special_ed2.PNG"width="30%" alt="Maison Margiela Street Special Edition 2">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/MM_Street_special_ed3.PNG"width="30%" alt="Maison Margiela Street Special Edition 3">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Mm_Street_special_ed4.PNG"width="30%" alt="Maison Margiela Street Special Edition 4">
            </figure>
        </div>
        
</main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
    <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
</html>