<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    <main>
        <div>
            <figure>
                <img src="../../public/Media/Me in Irui.PNG" width="50%" alt="Keiji Roemmich">
                <p>Picture Taken By @47Messages <a href="https://www.instagram.com/47messages/?hl=en"> <i class="fab fa-instagram fa-lg"></i></a></p>
            </figure>
        
        <h2>Hi, My Name Is Keiji Roemmich, and I Like Fashion... So much so that I decided that My final project for my Website Development class
            Should be a showcase of my favourite brands in archival screen form. <br>
            On this website you can find a multitude of interesting designers ranging in multiple aesthetics- <br>
            Kapital and Issey Miyake for those that enjoy simple deisgns with elegant stiching <br>
            Or, You're like me and enjoy the Punk aesthetic of N(n) and Undercover. <br>
            Regardless of how you look towards fashion, I hope my Page can provide an interesting outlet for those interested in Clothing.
        </h2>
    </div>
    <h3>Feel Free To Follow Me On My socials! </h3>
    </main>
    
</body>
&copy; Keiji's Closet <br>
<a href="../../views/index.html">Click Here to Return to The Home Page</a><br>

<a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
<a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
