<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1>Number (N)ine</h1>
    </header>
    <main>
        <h2>Number (N)ine is a cult brand originating from Japan. By Takahiro Miyashita, Inspirations include Americana, 
            the American frontier, music (rock, grunge, punk), military styles, feelings of rebellion and isolation.</h2>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special.PNG" width="30%" alt="Number Nine SMART Magazine">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special_Touch_me_im_sick.PNG" width="30%" alt="Number Nine SMART Magazine 'Touch me im sick'">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special_pants.PNG" width="30%" alt="Number Nine SMART Magazine Cargo Pants">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special.PNG" width="30%" alt="Number Nine SMART Magazine">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Book_White_The_Last_Volume.PNG" width="30%" alt="Number Nine Book White The Last Volume">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Book_White_The_Last_Volume 2.PNG" width="30%" alt="Number Nine Book White The Last Volume 2">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Truth of Number (N)ine Translation.PNG" width="30%" alt="Number Nine Truth of Number (N)ine Translation">
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Truth of Number (N)ine Translation 2.PNG" width="30%" alt="Number Nine Truth of Number (N)ine Translation 2">
                </figure>
            </div>
            
    </main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
    <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
</html>