<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/Number_Nine_style.css">
</head>
<body>
    <header>
        <h1>Number (N)ine</h1>
    </header>
    <main>
        <h2 id="intro">Number (N)ine is a cult brand originating from Japan. By Takahiro Miyashita, Inspirations include Americana, 
            the American frontier, music (rock, grunge, punk), military styles, feelings of rebellion and isolation.</h2>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special.PNG" width="30%" alt="Number Nine SMART Magazine">
                    <h2>Above is The Number (N)ine Smart Magazine special, published by Takarajimasha on September 15, 2005</h2>
                    <p>It is the quintessential guide for Number (N)ine’s AW2005 collection, 'The High Streets.' It includes photoshoots, 
                        interviews, an item catalog, and a retrospective of the brand from SS2001 to AW2005.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special_Touch_me_im_sick.PNG" width="30%" alt="Number Nine SMART Magazine 'Touch me im sick'">
                    <h2>Above are 4 Distinct outfits from the "touch me Im Sick" exhibition </h2>
                    <p>The season as a whole is a hybridization of Native American and grunge culture. There are some items that have an obvious influence, 
                        such as the furs, feathers, and fringe that decorate many of the outfits. </p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_SMART_Magazine_Special_pants.PNG" width="30%" alt="Number Nine SMART Magazine Cargo Pants">
                    <h2>Above are Screens of the N(n) Multi-strap Cargo Pants Shown in "touch me im sick"</h2>
                    <p>The catalog gives a glimpse at the retail prices for the season, ranging from around $400 to $4000, currently the Cargo 
                        Pants due to the Hype of N(n) due to media, has risen in prices, up to 300%
                    </p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Last Songs Lookbook.PNG" width="50%" alt="Number Nine Last Songs Lookbook">
                    <h2>Above is a showcase of The N(n) Last Songs Lookbook</h2>
                    <p>
                        The Last Songs lookbook by Number (N)ine was a special appendix included in Men’s Non-No August Issue of 2009. 
                        This mini magazine serves as an item catalog and showcase, 
                        encapsulating the final moments of Number (N)ine's somber departure from the fashion world.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Book_White_The_Last_Volume.PNG" width="30%" alt="Number Nine Book White The Last Volume">
                    <h2>Above is a Multi-page screen of the Lookbook "N(n) Book White: the Last Volume"</h2>
                    <p>Coming to a total of nearly 900 pages, Book White takes us into the aesthetic nature of Number (N)ine’s 
                        SS02 Collection ‘Modern Age,’ as well as the cult brand’s true colors.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Book_White_The_Last_Volume 2.PNG" width="30%" alt="Number Nine Book White The Last Volume 2">
                    <h2>A continuation of the N(n) Book White: The Last Volume</h2>
                    <p>the brand is depression/sadness in the form of clothing, and this becomes evermore apparent through the book’s depiction of the collection. 
                        Although Book White is meant to be read in physical form via the rapid turning of pages, 
                        the content included is priceless nonetheless and is vital for any N(N) enthusiast and curious individual alike.</p>
                </figure>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Truth of Number (N)ine Translation.PNG" width="30%" alt="Number Nine Truth of Number (N)ine Translation">
                    <h2>Above is an excerpt from Takahiro Miyashita, a farewell Booklet, Showing Takahiro Miyashita with a fellow designer Jun Takahashi of Undercover</h2>
                    <p>Number (N)ine still exists today, however the soul and spark of the brand is long gone, with Takahiro Miyashita having left Number (N)ine following the presentation 
                        of “A CLOSED FEELING” in 2009. </p>
                </figure>
                <h3>If You would like to know more about Undercover, consider clicking <a href="../html/Undercover.html">Here!</a> </h3>
            </div>
            <div>
                <figure>
                    <img src="../../public/Media/N(n)_Truth of Number (N)ine Translation 2.PNG" width="30%" alt="Number Nine Truth of Number (N)ine Translation 2">
                    <h2>The Final Show-notes done by Takahiro Miyashita, as well as closing regards to N(n)</h2>
                    <p>While quite somber and at times saddening, the feature ends on a rather mixed note, with the writer encouraging Miyashita to “KEEP BURNING” rather than too merely fade away.</p>
                </figure>
            </div>
            
    </main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="/">Click Here to Return to The Home Page</a><br>
    <a href="/More_About_Me">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
</html>