<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
    <h1>Undercover</h1>
</header>
<main>
    <h2>Undercover (sometimes called Undercoverism) is a Japanese streetwear clothing brand founded by Jun Takahashi. 
        The brand has been called "the essence of Japanese cool" and features finely crafted clothing pieces which are, 
        in the words of Takahashi himself, "strange, but beautiful".</h2>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_SS2003 Scab Runway Looks.PNG" width="50%" alt="Undercover SS2003 Scab Runway">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_SS2003 Scab Runway Looks end page.PNG" width="50%" alt="Undercover SS2003 Scab Runway end">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Under The Cover Book.PNG" width="50%" alt="Undercover Under The Cover Book">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Under The Cover Book 2.PNG" width="50%" alt="Undercover Under The Cover Book 2">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Under The Cover Book 3.PNG" width="50%" alt="Undercover Under The Cover Book 3">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_D.A.V.F. Translated Interview.PNG" width="50%" alt="Undercover DAVF Translated Interview">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Reconstruct, Relax Magazine.PNG" width="50%" alt="Undercover Reconstruct, Relax Magazine">
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Reconstruct, Relax Magazine 2.PNG" width="50%" alt="Undercover Reconstruct, Relax Magazine 2">
            </figure>
        </div>
</main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="../../views/index.html">Click Here to Return to The Home Page</a><br>
    <a href="./More_About_Me.html">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
</html>