<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archival CLoset</title>
    <link rel="shortcut icon" href="../../public/Media/52ceb-wlt-logo.jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/Undercover_style.css">
</head>
<body>
    <header>
    <h1>Undercover</h1>
</header>
<main>
    <h2 id="intro">Undercover (sometimes called Undercoverism) is a Japanese streetwear clothing brand founded by Jun Takahashi. 
        The brand has been called "the essence of Japanese cool" and features finely crafted clothing pieces which are, 
        in the words of Takahashi himself, "strange, but beautiful".</h2>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_SS2003 Scab Runway Looks.PNG" width="50%" alt="Undercover SS2003 Scab Runway">
                <h2>Above are 4 models walking the "Undercover SS2003 Scab" exhibition</h2>
                <p>Personally speaking, Undercover, or Undercoverism is my favourite brand, the exotic cuts, unnatural pairings and the 
                    absurd amount of detail with each outfit, is something I can personally speak for hours on end. 
                </p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_SS2003 Scab Runway Looks end page.PNG" width="50%" alt="Undercover SS2003 Scab Runway end">
                <h2>Above is the same scan from before, but along with the trademark lettering used in Jun Takahashi's work</h2>
                <p>
                    The Undercover Spring/Summer 2003 "Scab" collection was undoubtedly Jun Takahashi's most important collection, 
                    it set the stage & marked a turning point in his career. He took the opportunity of showcasing the true extent of his abilities to the world,
                     at his  debut collection at Paris in October 2002. It set the tone for the designers career, 
                    attaining praise from the likes of Rei Kawakubo stating on Jun Takahashi "The only one with courage."
                    
                    ​</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Under The Cover Book.PNG" width="50%" alt="Undercover Under The Cover Book">
                <h2>Above is a scan from "Undercover, Under The Cover Book"</h2>
                <p>Jun Takahashi, The lead designer for Undercover designed and modeled prosthetics that models would wear
                    for the exhibition event, Above is a Model with a Wire-Head Prosthetic, which was said to be influenced off
                    of an Album cover of the "Yellow Magic Orchestra", which is a instramental band trending in Japan.
                </p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Under The Cover Book 2.PNG" width="50%" alt="Undercover Under The Cover Book 2">
                <h2>Above is another screen from the cellection "Under the Cover"</h2>
                <p>The book was created along with the collection and gives us a brief look at drawings Takahashi had made in order to design and produce the garments. 
                    He used monster-type figures you would see in horror movies as models for the collection. 
                    The book shows us behind the scenes photos as well as detailing how the masks and characters were created.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Under The Cover Book 3.PNG" width="50%" alt="Undercover Under The Cover Book 3">
                <h2>Another Screen from "Under The Cover"</h2>
                <p>Personally my favourite collection released from Jun Takahashi, not only having 
                    phenomenal peices of clothing, but the simple idea of having the models no longer look like humans, 
                    truthfully put an interesting perspective on the world of fashion. 
                </p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_D.A.V.F. Translated Interview.PNG" width="50%" alt="Undercover DAVF Translated Interview">
                <h2>Above is a model, from "D.A.V.F interview"</h2>
                <p>Jun Takahashi first began putting out designs for his punk cover band 'Tokyo Sex Pistols' in the early 1990’s. 
                    These early offerings included mainly just t-shirts with Sex Pistols-inspired prints, with a few other original designs sprinkled in. 
                    After formally starting Undercover in 1993 with with other founders name, 
                    the brand began putting on fashion shows rather quickly, first showing in 1994.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Reconstruct, Relax Magazine.PNG" width="50%" alt="Undercover Reconstruct, Relax Magazine">
                <h2>Above is a special magazine edition of "Reconstruct by relax"</h2>
                <p>Driven by a desire to also shoot documentary-style for the debut fashion show, Tominaga eventually suggested the idea to Japanese magazine 'Relax'. 
                    Her request was accepted and she was given the chance to go to Paris for a coverage tour.</p>
            </figure>
        </div>
        <div>
            <figure>
                <img src="../../public/Media/Undercover_Reconstruct, Relax Magazine 2.PNG" width="50%" alt="Undercover Reconstruct, Relax Magazine 2">
                <p>The photos featured are some of those taken by Tominaga during this occasion. In 'Relax' No. 70 (December 2002), 
                    part of her work was published with words of her experience alongside a lengthy interview with Jun Takahashi by Skate Thing.</p>
            </figure>
        </div>
</main>
    
</body>
<footer>
    &copy; Keiji's Closet <br>
    <a href="/">Click Here to Return to The Home Page</a><br>
    <a href="/More_About_Me">Click here for a More About Me Page!</a> <br>
    
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a> 
    <a href="https://www.instagram.com/imkeichan/">Click For My instagram!</a>
</footer>
</html>
</html>